.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 13px;
}

.creation-button {
    border: none;
    outline: none;
    padding: 12px 10px;
    border-radius: 5px;
    background-color: rgb(170, 105, 231);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
