<div class="container">
  <h1>Add New Project</h1>
  <form [formGroup]="projectForm" (ngSubmit)="addProject()" class="form">
    <mat-card>
      <mat-card-title>
        <input formControlName="title" placeholder="Title" class="input" />
        <div *ngIf="projectForm.get('title')?.hasError('required')" class="error-message">
          Title is required.
        </div>
      </mat-card-title>
      <mat-card-content>
        <textarea formControlName="description" placeholder="Description" class="textarea" rows="5px" cols="30px"></textarea>
      </mat-card-content>
      <mat-card-content>
        <label for="priority">Priority:</label>
        <select formControlName="priority" class="select">
          <option value="LOW">Low</option>
          <option value="MEDIUM">Medium</option>
          <option value="HIGH">High</option>
        </select>
      </mat-card-content>
      <div class="btn">
        <button class="button add-button" type="submit">Add Project</button>
      </div>
    </mat-card>
  </form>
</div>
