<div class="container">
  <button class="btn button back-button" (click)="navigateToHome()">Back to Home</button>
  <h1>Project Details</h1>
  <div *ngIf="project">
    <mat-card class="content">
      <form [formGroup]="projectForm" (ngSubmit)="editProject()" class="form">
        <mat-card-title>
          <input formControlName="title" placeholder="Title" class="input"/>
          <div *ngIf="projectForm.get('title')?.hasError('required')" class="error-message">
            Title is required.
          </div>
        </mat-card-title>
        <mat-card-subtitle class="date">{{ project.createdAt | date }}</mat-card-subtitle>
        <mat-card-content>
          <textarea formControlName="description" placeholder="Description" class="textarea" rows="10px" cols="50px"></textarea>
        </mat-card-content>
        <mat-card-content>
          <label for="priority">Priority:</label>
          <select formControlName="priority" class="select">
            <option value="LOW">Low</option>
            <option value="MEDIUM">Medium</option>
            <option value="HIGH">High</option>
          </select>
        </mat-card-content>
        <div class="btn">
          <button class="button edit-button" type="submit">Edit Project</button>
          <button class="button delete-button" (click)="deleteProject()">Delete Project</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
